div{
	display:inline-block;
	width:100%;	
}



h2
{
	color:#930;
	margin-left:10px;
}

h3
{
	font-size:20px;
	color:#C60;
}
#container
{
	
	border-radius:25 px;
	width: 55%;
	height: 108%;
	display: block;
	margin:auto;
	
	background-image:url(../images.jpeg);
	
	
	
}

#name
{
	margin-top:15px;
	display:inline:block;
	height: 10%;
	padding:0px;
	list-style-type:none;
	background-image:url(../img6.jpeg);	
	
	
}

#content
{
	
	-webkit-column-gap:10px;
	-webkit-column-rule:10px outset #000;
	
	border-radius:30 px;
	width:94%;
	height:70%;
	margin-bottom:20px;
	margin-top:20px;
	border-style:hidden;
	border-color:#CCC;
	border-width:60%;
	margin-left:20px;
	margin-right:20px;
}

#picture
{
	border-radius:30 px;
	width:50%;
	height:99%;
	
	
	border-style:solid;
	border-color:#CCC;
	border-width:60%;
	
	float:left;
	
	
}

#description
{
	margin-left: 58%;
	width:40%;
	margin-top: -70%;
	overflow:hidden;
	color:#C60;
	font-size:20px;
}


#size
{ 
	width:100%;
	height:100%;
	
}

#footer
{
	
	
	display:inline:block;
	height: 18%;
	padding:0px;
	list-style-type:none;
	background-image:url(../img6.jpeg);	
}

#timer
{
	color:#FC0;
	
		
}
	